<h3>Interactive Explorer of numeric metadata</h3>

<p>
Interact with the widgets on the left to query a subset of data to plot.
Hover over the circles to see more information about each entry.
</p>
<p>
Click any cirle to navigate to its respective metadata page at <a href="https://mmp2.sfb.uit.no/">The Marine Metagenomics Portal</a><br>
(Reclick the background of the plot to reactivate after using any external links)
</p>
<br />
