<style>
<div>
<p>
*Draft quality definitions are as follows:
</p>
<p>
<u>Finished: </u><br>
Entries in MarRef are categorized as finished
</p>
<p>
<u>High Quality Draft: </u><br>
Presence of the 23S, 16S and 5S rRNA genes and at least 18 unique tRNAs.
Completeness > 90 &#37; <br>
Contamination < 5 &#37;
</p>
<p>
<u>Near Complete</u><br>
<!-- Presence of the 23S, 16S and 5S rRNA genes and at least 18 tRNAs. -->
Completeness > 90 &#37; <br>
Contamination < 5 &#37;
</p>
<p>
<u>Medium Quality Draft: </u><br>
Completeness > 50 &#37;<br>
Contamination < 10 &#37;
</p>
<p>
<u>Low Quality Draft: </u><br>
Completeness < 50 &#37;<br>
Contamination < 10 &#37;
</p>
<p>
<u>Very Low Quality Draft: </u><br>
<!-- Completeness < 50 &#37;<br> -->
Contamination > 10 &#37;
</p>
</div>
